.navbar {
	font-size: 18px;
	position: fixed;
	text-decoration: none;
	left: 2%;
	border-left-style: solid;
	border-color: aqua;
	padding-left: 6px;
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	flex-direction: column;
	line-height: 30px;
	transition: 0.5s;
	width: 100px;
}

.navbar:hover {
	left: 3%;
	text-decoration: underline;
	transition: 0.5s;
}

.navbar .navbar-option:hover {
	transform: scale(1.1);
	transition: 0.5s;
	padding-left: 5%;
}
